body {
    background-color: #fffaf2;
}

header .banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
}

header img {
    display: flex;
    margin-right: 5%;
    width: 250px;
    height: auto;
}


/* ================ESTILOS DEL INDEX================ */


.start{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 75px;
    margin-right: 75px;
}


/* ====Sección del HEADER o CABECERA de la pagina web==== */


.pindex{
    display: flex;
    flex-direction: row;
    font-family: jost; sans-serif;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.separator{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.separator img{
    width: 800px;
    height: 400px;
}


/* ====Sección menú de navegacion acerca de mi y el proyecto==== */
/* ====Parte I - nav==== */


header nav div {
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
    margin-top: inherit;
}

header nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ol li a{
    color: rgb(0, 0, 0);
    font-family: jost; sans-serif;
    font-size: 10px;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ol li a:hover{
    background-color: rgba(186, 5, 231, 0.973);
}

nav ol li a.activo{
    background-color: #d9e94b;
}


/* ====Parte II - about==== */


.about{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
}

.about p{
    font-family: jost; sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.about img{
    height: 150px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    }


/* ====Parte III - project==== */


.project{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_img{
    display: flex;
    flex-direction: row;
    align-items: first flex-end;
}

.project .pline1{
    font-family: jost; sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.project .pline2{
    font-family: jost; sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.project img{
    height: 150px;
    width: 170px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-radius: 30%;
}


/* ====Parte IV - disclaimer==== */


.disclaimer{
    display: flex;
    flex-direction: row;
}

.disclaimer p{
    font-family: jost; sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}


/* ================COMPARTIDOS ENTRE PAGINAS================ */

/* ====Sección menú de navegacion para secciones==== */


nav{
    background-color: transparent;
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    font-family: jost; sans-serif;
    font-style: oblique;
    color: rgb(0, 0, 0);
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgba(186, 5, 231, 0.973);
}

nav ul li a.activo{
    background-color: #d9e94b;
}


/* ====Footer o pié de pagina==== */


footer {
    display: flex;
    justify-content: center;
}

footer p{
    font-family: trebuchet MS;
    font-style: normal;
    font-size: 15px;
    color: #7c7673
}


/* ================ESTILOS DE VIDEO-GAMES================ */

.pvideog{
    display: flex;
    flex-direction: row;
    font-family: jost; sans-serif;
    font-style: italic;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}